* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #F1D2B6;
}

.reduire {
    width: 640px;
    height: 640px;
    float: right;
}

.re {
    width: 150px;
    height: 150px;
    float: left;
}